## 8.1 다중회귀 모형
우리 관심사가 경력을 통제한 후 학력의 영향이지만 단순회귀모형에선 이를 고려하지 않음

### 8.1.1 오차평균 0의 가정

**연습 8.1 학력이 동일한 남녀의 평균임금 차이를 구한다. 임금을 여성더미에 대해 단순회귀하면 어떻게 오차평균0의 가정에 위배될 수 있는지 설명하시오 **

- 학력의 영향은 u에 포함되어 있다.
- 남녀간의 평균 학력 차이가 있으므로 남녀간에 u의 평균에 차이가 있게 된다

**연습 8.2 만일 E(u|학력)이 0이 아니지만 학력 값의 크기와 무관하다면 식 (8.1) 우변 둘째 항의 값은?

- 0

**연습 8.3 단순회귀식에서 E(u|X) = c !=0이고 c가 상수이면 베타1의 최소제곱추정량은 여전히 비편향이며 아무런 문제도 존재하지 않음을 한두 줄의 수학으로 논하라. 이때 베타 제로는 무엇으로 재정의할 수 있는가?

- 기울기 모수는 여전히 베타1이고 ㅊ는 베타0 + ㅊ가 된다.

In [2]:
datadir = "http://econ.korea.ac.kr/~chirokhan/book/data"
Death = read.csv(file.path(datadir, "deathrate.csv"))
head(Death)

  region year regpop death drink smoke aged  vehipc deathrate
1 40     2008  81159 594   52.8  27.0  13.24 0.36   7.318966
2 40     2009  89384 596   55.8  29.8  13.09 0.37   6.667860
3 40     2010 102557 624   53.0  22.5  12.69 0.37   6.084421
4 39     2008 171001 945   58.2  28.4   9.60 0.39   5.526283
5 39     2009 176135 961   59.4  27.4   9.70 0.40   5.456042
6 39     2010 178899 966   55.6  25.6   9.90 0.41   5.399695

In [4]:
summary(lm(deathrate~drink, data=Death, subset=year==2010))

Call:
lm(formula = deathrate ~ drink, data = Death, subset = year ==
    2010)

Residuals:
    Min      1Q  Median      3Q     Max
-5.3766 -1.2509  0.1862  1.2684  3.9328

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 21.10056    1.72216  12.252  < 2e-16 ***
drink       -0.22682    0.03626  -6.256 1.59e-08 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.843 on 84 degrees of freedom
Multiple R-squared:  0.3178,	Adjusted R-squared:  0.3097
F-statistic: 39.14 on 1 and 84 DF,  p-value: 1.586e-08

### 8.1.2 다른 변수를 제어하여 오차평균 0을 회복
- 임금 = 베타0 + 베타1*학력 + 오차 보다는
- 임금 = 베타0 + 베타1*학력 + 베타2*경력 + 오차항 처럼 모형을 세우는 것이다

### 8.1.3 다중회귀 모형
- 다변수 회귀모형이라고도 함

## 8.2 모수의 해석

**연습 8.4 자연로그를 취한 시간당 임금을 종속변수로 하고, 설명변수로서 학력과 경력과 나이가 있는 다음의 선형모형을 생각해보자

로그(임금) = 베타0 + 베타1학력 + 베타2경력 +베타3나이 + 오차항

각각의 기울기 계수를 해석해보라. 또 베타0을 해석해보라

- 경력과 나이가 고정된 채 학력이 년 증가하면 임금은 평균 약 100베타1% 증가한다. 베타2와 베타3도 이와 유사하게 해ㅓㄱ됨
- 베타0은 학력과 경력과 나이가 0인 사람들의 평균 로그(임금)이다. 

**연습 8.5 위의 문제에서 경력과 나이가 고정된 채 학력이 1년 증가한다는 것은 무엇을 말하는가? 동일 시점에서 관측된 갑과 을의 나이와 경력이 같다고 하자. 어떻게 하면 갑의 학력이 을의 학력보다 길 수 있겠는가? 연습 8.4에서 학력의 효과 베타1은 어떤 사람들을 비교함으로써 식별되는가

- 갑이 1년동안 학교를 다닐 때 을은 학교를 다니지 않고 일을 하지도 않았음을 의미한다. 베타1은 이런 사람들을 비교함으로써 식별된다.

**연습 8.6 연습 8.4에서 만일 모든 사람들이 똑같은 나이에 학교에 입학하고 졸업 후 1년도 쉬지 않는다면(6+학력+경력=나이) 경력과 나이를 고정시키고 학력을 변화시키는것이 가능한가? 이 경우 최소제곱 추정량에는 무슨 일이 생기는가?

- 가능하지 않다. 설명변수들 간에 완전한 선형 상관관계가 존재하여(특이성) 최소제곱 추정량이 유일하지 않게 된다.


## 8.3 최소제곱법

- 보통최소제곱법 오엘에스- 일반화된 최소제곱법(쥐엘에스)의 특수한 형태다

In [5]:
summary(lm(deathrate~drink+aged, data=Death, subset=year==2010))

Call:
lm(formula = deathrate ~ drink + aged, data = Death, subset = year ==
    2010)

Residuals:
     Min       1Q   Median       3Q      Max
-1.72883 -0.37260 -0.00907  0.43054  1.59751

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.61389    1.06011  -0.579   0.5641
drink        0.03443    0.01641   2.099   0.0389 *
aged         0.40576    0.01636  24.797   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.6394 on 83 degrees of freedom
Multiple R-squared:  0.9189,	Adjusted R-squared:  0.9169
F-statistic:   470 on 2 and 83 DF,  p-value: < 2.2e-16

- 앞의 예제 결과와 달리 드링크 계수 추정값은 양수이다
- 고령인구 비율이 동일한 지역들을 비교할 때 음주인구 비율이 10퍼센트포인트 높은 지여게서의 인구 1000명당 사망자 수는 약 0.34명 더 많았다. 


### 8.3.1 절편을 수학적으로 어떻게 이해할까
- 오엘에스 춪정량은 표본평균을 일반화한 것이라 할 수있음

### 8.3.2 분해 정리

## 8.4 오엘에스 추정량이 유일할 조건

각각의 방정식들이 충분히 독립적인 정보를 가지고 있을 때만

In [7]:
data (Wages1, package="Ecdat")

In [9]:
Wages1$male = as.numeric(Wages1$sex=="male")
Wages1$female=as.numeric(Wages1$sex=="female")

In [10]:
head(Wages1)

  exper sex    school wage     male female
1  9    female 13     6.315296 0    1
2 12    female 12     5.479770 0    1
3 11    female 11     3.642170 0    1
4  9    female 14     4.593337 0    1
5  8    female 14     2.418157 0    1
6  9    female 14     2.094058 0    1

In [12]:
Wages1$trans = as.numeric(Wages1$sex=="trans")

In [13]:
head(Wages1)

  exper sex    school wage     male female trans
1  9    female 13     6.315296 0    1      0
2 12    female 12     5.479770 0    1      0
3 11    female 11     3.642170 0    1      0
4  9    female 14     4.593337 0    1      0
5  8    female 14     2.418157 0    1      0
6  9    female 14     2.094058 0    1      0

In [14]:
sum(Wages1$female)
sum(Wages1$male)

[1] 1569

[1] 1725

In [15]:
lm(wage~female, data=Wages1, subset=female==1) # singular

Call:
lm(formula = wage ~ female, data = Wages1, subset = female ==
    1)

Coefficients:
(Intercept)       female
      5.147           NA

In [16]:
lm(wage~female, data=Wages1)

Call:
lm(formula = wage ~ female, data = Wages1)

Coefficients:
(Intercept)       female
      6.313       -1.166

In [17]:
lm(wage~female+male, data=Wages1)

Call:
lm(formula = wage ~ female + male, data = Wages1)

Coefficients:
(Intercept)       female         male
      6.313       -1.166           NA

In [18]:
lm(wage~male+female-1, data=Wages1)

Call:
lm(formula = wage ~ male + female - 1, data = Wages1)

Coefficients:
  male  female
 6.313   5.147

## 8.5 맞춘값, 잔차, 제곱합, R제곱

In [19]:
data(Wages1, package="Ecdat")
summary(lm(log(wage)~sex+school+exper, data=Wages1))

Call:
lm(formula = log(wage) ~ sex + school + exper, data = Wages1)

Residuals:
    Min      1Q  Median      3Q     Max
-3.9861 -0.2817  0.0477  0.3663  2.1668

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -0.259347   0.088322  -2.936  0.00334 **
sexmale      0.242569   0.020453  11.860  < 2e-16 ***
school       0.123361   0.006230  19.802  < 2e-16 ***
exper        0.035412   0.004514   7.845 5.79e-15 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.5786 on 3290 degrees of freedom
Multiple R-squared:  0.1374,	Adjusted R-squared:  0.1367
F-statistic: 174.7 on 3 and 3290 DF,  p-value: < 2.2e-16

In [22]:
data(Wages1, package="Ecdat")
Wages1$rnd = rnorm(nrow(Wages1))
summary(lm(log(wage)~sex+school+exper, data=Wages1))$r.sq
summary(lm(log(wage)~sex+school+exper+rnd, data=Wages1))$r.sq

[1] 0.1374377

[1] 0.1378005