In [4]:
datadir = "http://econ.korea.ac.kr/~chirokhan/book/data"

Twoyear = read.csv(file.path(datadir, "twoyear.csv"))
nrow(Twoyear)
names(Twoyear)

[1] 6763

 [1] "female"   "phsrank"  "BA"       "AA"       "black"    "hispanic"
 [7] "id"       "exper"    "jc"       "univ"     "lwage"    "stotal"
[13] "smcity"   "medcity"  "submed"   "lgcity"   "sublg"    "vlgcity"
[19] "subvlg"   "ne"       "nc"       "south"    "totcoll"

In [6]:
ols2 = lm(lwage~jc+univ+exper,data = Twoyear)
summary(ols2)

#대학을합친게 된다 (I(jc+univ))
ols3 = lm(lwage~I(jc+univ)+univ+exper,data=Twoyear)
summary(ols3)

Call:
lm(formula = lwage ~ jc + univ + exper, data = Twoyear)

Residuals:
     Min       1Q   Median       3Q      Max
-2.10362 -0.28132  0.00551  0.28518  1.78167

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 1.4723256  0.0210602  69.910   <2e-16 ***
jc          0.0666967  0.0068288   9.767   <2e-16 ***
univ        0.0768763  0.0023087  33.298   <2e-16 ***
exper       0.0049442  0.0001575  31.397   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4301 on 6759 degrees of freedom
Multiple R-squared:  0.2224,	Adjusted R-squared:  0.2221
F-statistic: 644.5 on 3 and 6759 DF,  p-value: < 2.2e-16

Call:
lm(formula = lwage ~ I(jc + univ) + exper, data = Twoyear)

Residuals:
     Min       1Q   Median       3Q      Max
-2.09708 -0.28069  0.00532  0.28324  1.78332

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  1.4719701  0.0210606   69.89   <2e-16 ***
I(jc + univ) 0.0761563  0.0022562   33.75   <2e-16 ***
exper        0.0049323  0.0001573   31.36   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4302 on 6760 degrees of freedom
Multiple R-squared:  0.2222,	Adjusted R-squared:  0.222
F-statistic: 965.6 on 2 and 6760 DF,  p-value: < 2.2e-16

In [9]:
# unrestricted model
model1 = lm(lwage~jc+univ+exper,data=Twoyear)
uhat1 = resid(model1)

#restricted model
model2 = lm(lwage~I(jc+univ) +exper, data=Twoyear)
uhat2 = resid(model2)

summary(model1)
summary(model2)

Call:
lm(formula = lwage ~ jc + univ + exper, data = Twoyear)

Residuals:
     Min       1Q   Median       3Q      Max
-2.10362 -0.28132  0.00551  0.28518  1.78167

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 1.4723256  0.0210602  69.910   <2e-16 ***
jc          0.0666967  0.0068288   9.767   <2e-16 ***
univ        0.0768763  0.0023087  33.298   <2e-16 ***
exper       0.0049442  0.0001575  31.397   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4301 on 6759 degrees of freedom
Multiple R-squared:  0.2224,	Adjusted R-squared:  0.2221
F-statistic: 644.5 on 3 and 6759 DF,  p-value: < 2.2e-16

Call:
lm(formula = lwage ~ I(jc + univ) + exper, data = Twoyear)

Residuals:
     Min       1Q   Median       3Q      Max
-2.09708 -0.28069  0.00532  0.28324  1.78332

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  1.4719701  0.0210606   69.89   <2e-16 ***
I(jc + univ) 0.0761563  0.0022562   33.75   <2e-16 ***
exper        0.0049323  0.0001573   31.36   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4302 on 6760 degrees of freedom
Multiple R-squared:  0.2222,	Adjusted R-squared:  0.222
F-statistic: 965.6 on 2 and 6760 DF,  p-value: < 2.2e-16

In [10]:
ssr1 = sum(uhat1^2)
ssr2 = sum(uhat2^2)
ssr1
ssr2

[1] 1250.543

[1] 1250.942

In [12]:
n = nrow(Twoyear)
Fstat = ((ssr2-ssr1)/1)/(ssr1/(n-4))
Fstat

[1] 2.154015

In [13]:
pval = 1 - pf(Fstat, 1, n-4)
pval

[1] 0.1422441

In [14]:
curve(df(x,df1=,df2=n-4),0,12)

ERROR: Error in df(x, df1 = , df2 = n - 4): 기본값이 없는 인수 "df1"가 누락되어 있습니다

In [17]:
anova(model2, model1)

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 6760   1250.942 NA        NA       NA        NA
2 6759   1250.543  1 0.3985338 2.154015 0.1422441

In [19]:
install.packages("car")
library("car")

also installing the dependency 'lme4'

package 'lme4' successfully unpacked and MD5 sums checked
package 'car' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\roh_kondae\AppData\Local\Temp\RtmpI58rN4\downloaded_packages

Loading required package: carData

In [20]:
lht(model1, "jc=univ")

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 6760   1250.942 NA        NA       NA        NA
2 6759   1250.543  1 0.3985338 2.154015 0.1422441

ntalll.pachefss; ###

In [27]:
MLB = read.csv("mlbdata.csv")
summary(MLB)

     salary            years             bavg        gamesyr
 Min.   : 109000   Min.   : 1.000   Min.   :111   Min.   :  5.50
 1st Qu.: 253600   1st Qu.: 3.000   1st Qu.:245   1st Qu.: 65.00
 Median : 675000   Median : 6.000   Median :259   Median : 94.67
 Mean   :1345672   Mean   : 6.326   Mean   :259   Mean   : 90.08
 3rd Qu.:2250000   3rd Qu.: 9.000   3rd Qu.:275   3rd Qu.:117.00
 Max.   :6329213   Max.   :20.000   Max.   :625   Max.   :159.00
    hrunsyr           rbisyr
 Min.   : 0.000   Min.   : 0.50
 1st Qu.: 1.700   1st Qu.:17.67
 Median : 5.167   Median :31.40
 Mean   : 7.119   Mean   :35.05
 3rd Qu.:10.333   3rd Qu.:48.22
 Max.   :31.429   Max.   :97.62

In [25]:
setwd(getwd())

In [32]:
model1 = lm(log(salary)~years+gamesyr+bavg+hrunsyr+rbisyr, data=MLB)
summary(model1)

Call:
lm(formula = log(salary) ~ years + gamesyr + bavg + hrunsyr +
    rbisyr, data = MLB)

Residuals:
     Min       1Q   Median       3Q      Max
-3.02508 -0.45034 -0.04013  0.47014  2.68924

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 1.119e+01  2.888e-01  38.752  < 2e-16 ***
years       6.886e-02  1.211e-02   5.684 2.79e-08 ***
gamesyr     1.255e-02  2.647e-03   4.742 3.09e-06 ***
bavg        9.786e-04  1.104e-03   0.887    0.376
hrunsyr     1.443e-02  1.606e-02   0.899    0.369
rbisyr      1.077e-02  7.175e-03   1.500    0.134
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.7266 on 347 degrees of freedom
Multiple R-squared:  0.6278,	Adjusted R-squared:  0.6224
F-statistic: 117.1 on 5 and 347 DF,  p-value: < 2.2e-16

In [37]:
model2 = lm(log(salary)~years+gamesyr,data=MLB)
summary(model2)

Call:
lm(formula = log(salary) ~ years + gamesyr, data = MLB)

Residuals:
     Min       1Q   Median       3Q      Max
-2.66858 -0.46412 -0.01177  0.49219  2.68829

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 11.223804   0.108312 103.625  < 2e-16 ***
years        0.071318   0.012505   5.703  2.5e-08 ***
gamesyr      0.020174   0.001343  15.023  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.7527 on 350 degrees of freedom
Multiple R-squared:  0.5971,	Adjusted R-squared:  0.5948
F-statistic: 259.3 on 2 and 350 DF,  p-value: < 2.2e-16

In [39]:
uhat1 = resid(model1)
uhat2 = resid(model2)
n = nrow(MLB)
ssr1 = sum(uhat1^2)
ssr2 = sum(uhat2^2)
Fstat = ((ssr2-ssr1)/3)/(ssr1/(n-6))
Fstat
pval = 1 - pf(Fstat,3,n-6)
pval

[1] 9.550257

[1] 4.473689e-06

In [35]:
n

[1] 353