# R Basic 1

## 1.1 기본적인 내용

In [2]:
?sum

In [3]:
?cos

In [4]:
?"="

In [5]:
getwd()

[1] "D:/Repositories/Econometrics/RBasic"

In [6]:
setwd('D:/Repositories/Econometrics/RBasic')

In [7]:
dir()

 [1] "401k.xls"                    "401K_description.txt"
 [3] "data1.csv"                   "data1.txt"
 [5] "DataHousingPrice.csv"        "DataHousingPrice.txt"
 [7] "DataHousingPrice.xls"        "DataHousingPrice.xlsx"
 [9] "DataHousingPriceMISSING.csv" "ImportingDataAndOLS.R"
[11] "RBasic1.ipynb"               "Rbasic1.R"
[13] "Rbasic2.R"                   "Rbasic2_ver2.R"
[15] "Rbasic3.R"                   "Rbasic3_ver2.R"
[17] "Rbasic4.R"                   "Rbasic5.R"

## 1.2 Strings

In [8]:
'안녕하세요'

[1] "안녕하세요"

In [9]:
"안녕하세요"

[1] "안녕하세요"

In [13]:
"'안녕하세요'라고 말하다"

[1] "'안녕하세요'라고 말하다"

In [12]:
'"안녕하세요"라고 말하다'

[1] "\"안녕하세요\"라고 말하다"

In [16]:
x = 5
x

[1] 5

In [15]:
x == 5

[1] TRUE

## 1.3 Arithmetic

In [18]:
1+1

[1] 2

In [19]:
8-4

[1] 4

In [20]:
13/2

[1] 6.5

In [21]:
4*pi

[1] 12.56637

In [25]:
2**10
2^10

[1] 1024

[1] 1024

## 1.4 Logicals

In [26]:
3 > 4
3 < 4
3 == 4

[1] FALSE

[1] TRUE

[1] FALSE

## 1.5 Variables

In [27]:
x = 42
x / 2

[1] 21

In [28]:
x = 42
x / 2

[1] 21

In [29]:
x = 'quant'
x

[1] "quant"

In [30]:
x = 5 
x == 5

[1] TRUE

In [31]:
foo = 3
bar = 5
foo.bar = foo + bar
foo.bar

[1] 8

In [32]:
foo.bar2 = 2 * foo.bar
foo.bar2

[1] 16

In [33]:
foo_bar = foo - bar
foo_bar

[1] -2

## 1.6 Vectors 1

In [35]:
x = c(4, 7, 9)
x

[1] 4 7 9

In [36]:
y = c('a', 'b', 'c')
y

[1] "a" "b" "c"

## 1.7 Vectors 2

In [37]:
x = c(1, TRUE, 'three')
x

[1] "1"     "TRUE"  "three"

## 1.8 Vector_arithmetic

In [38]:
x = c(1, 2, 3)
x + 4

[1] 5 6 7

In [39]:
x/3

[1] 0.3333333 0.6666667 1.0000000

In [40]:
-x

[1] -1 -2 -3

In [41]:
x^3

[1]  1  8 27

In [42]:
y = c(3, 2, 1)
x - y

[1] -2  0  2

In [43]:
x * y

[1] 3 4 3

In [45]:
x/y    # element by element

[1] 0.3333333 1.0000000 3.0000000

In [46]:
x > 2

[1] FALSE FALSE  TRUE

In [47]:
x >= 2

[1] FALSE  TRUE  TRUE

In [48]:
1 < x <3

ERROR: Error in parse(text = x, srcfile = src): <text>:1:7: 예기치 않은 '<'입니다
1: 1 < x <
          ^

In [49]:
x>1 & x<3

[1] FALSE  TRUE FALSE

In [50]:
a = c(-2.456, 3.6789, 5.2344566)

In [51]:
ceiling(a)
floor(a)

[1] -2  4  6

[1] -3  3  5

In [52]:
trunc(a)
round(a)

[1] -2  3  5

[1] -2  4  5

In [53]:
round(a, digits = 3)

[1] -2.456  3.679  5.234

## 1.9 Functions

In [54]:
x = c(1, 2, 3)

In [57]:
sum(x) # 요소들의 합

[1] 6

In [58]:
prod(x) # 요소들의 곱

[1] 6

In [59]:
sqrt(x)

[1] 1.000000 1.414214 1.732051

In [60]:
y = c(-1, 2, 4)

In [61]:
abs(y)

[1] 1 2 4

In [62]:
exp(y)

[1]  0.3678794  7.3890561 54.5981500

In [64]:
log(x)   # 자연로그

[1] 0.0000000 0.6931472 1.0986123

In [65]:
log(x, base=10)  # 로그함수 base = 10

[1] 0.0000000 0.3010300 0.4771213

In [66]:
max(y)
min(y)
range(y)

[1] 4

[1] -1

[1] -1  4

In [67]:
mean(y)
median(x)

[1] 1.666667

[1] 2

## 1.10 Sequences

In [69]:
x = 1:10
x

 [1]  1  2  3  4  5  6  7  8  9 10

In [70]:
y = 10:1
y

 [1] 10  9  8  7  6  5  4  3  2  1

In [72]:
z = seq(0, 1, by=.02)
z

 [1] 0.00 0.02 0.04 0.06 0.08 0.10 0.12 0.14 0.16 0.18 0.20 0.22 0.24 0.26 0.28
[16] 0.30 0.32 0.34 0.36 0.38 0.40 0.42 0.44 0.46 0.48 0.50 0.52 0.54 0.56 0.58
[31] 0.60 0.62 0.64 0.66 0.68 0.70 0.72 0.74 0.76 0.78 0.80 0.82 0.84 0.86 0.88
[46] 0.90 0.92 0.94 0.96 0.98 1.00

In [73]:
w1 = seq(0, 1, length.out = 10)
w1

 [1] 0.0000000 0.1111111 0.2222222 0.3333333 0.4444444 0.5555556 0.6666667
 [8] 0.7777778 0.8888889 1.0000000

In [75]:
w2 = seq(0, 1, length.out = 11)
w2

 [1] 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

## 1.11 Programming functions

In [76]:
x = 00:32
x

 [1]  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
[26] 25 26 27 28 29 30 31 32

In [77]:
length(x)

[1] 33

In [78]:
y = c("spring", "summer", "autumn", "winter")
mode(y)

[1] "character"

In [79]:
rep(y, 2)

[1] "spring" "summer" "autumn" "winter" "spring" "summer" "autumn" "winter"

In [80]:
rep(y, times=2)

[1] "spring" "summer" "autumn" "winter" "spring" "summer" "autumn" "winter"

In [81]:
rep(y, each=2)

[1] "spring" "spring" "summer" "summer" "autumn" "autumn" "winter" "winter"

In [82]:
x = 1:100000
head(x)
tail(x)

[1] 1 2 3 4 5 6

[1]  99995  99996  99997  99998  99999 100000

## 1.12 Vector extraction 1

In [83]:
x = c(5, 4, 1)
x[1]

[1] 5

In [84]:
x[3]

[1] 1

In [86]:
x[1:2]

[1] 5 4

In [87]:
x[2:3]

[1] 4 1

## 1.13 Vector extraction 2

In [88]:
x = 20:30
x

 [1] 20 21 22 23 24 25 26 27 28 29 30

In [89]:
x[c(1, 3, 5, 7, 9)]

[1] 20 22 24 26 28

In [91]:
x[-c(1, 3, 5, 7, 9)]

[1] 21 23 25 27 29 30

In [92]:
x[c(5, 9)]

[1] 24 28

In [93]:
x[seq(1, 10, by=2)]

[1] 20 22 24 26 28

## 1.14 Vector extraction 3

In [94]:
x = c(5, 6 ,7)

In [96]:
x[c(TRUE, TRUE, FALSE)]

[1] 5 6

In [97]:
x[c(FALSE, TRUE, FALSE)]

[1] 6

In [98]:
x[c(FALSE, FALSE, TRUE)]

[1] 7

## 1.15 Vector extraction 4

In [99]:
x = c(-1, 0, 1)
x > 0
x[x > 0]
x[x <= 0]

[1] FALSE FALSE  TRUE

[1] 1

[1] -1  0

## 1.16 Vector replacement

In [100]:
x = c(-1, 5, 10)
x[3] = 4
x

[1] -1  5  4

In [101]:
x[x < 0] = 0
x

[1] 0 5 4

## 1.17 Packages

In [3]:
install.packages("data.table")

package 'data.table' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\roh_kondae\AppData\Local\Temp\RtmpeMktja\downloaded_packages

In [4]:
library(data.table)

## 1.18 Data table

In [5]:
foo = 1:5
bar = 2 * foo
foo.bar = data.table(foo, bar)
foo.bar

  foo bar
1 1    2
2 2    4
3 3    6
4 4    8
5 5   10

In [6]:
y = -4:0
data.table(foo, bar, y)

  foo bar y
1 1    2  -4
2 2    4  -3
3 3    6  -2
4 4    8  -1
5 5   10   0

## 1.19 Subsetting

In [8]:
location = c("NY", "Chicago", "Boston", "Boston", "NY")
salary = c(70000, 80000, 60000, 50000, 45000)
title = c("Office Manager", "RA", "Analyst", "Office Manager", "Analyst")
hours = c(50,56,65,40,50)
jobsearch = data.table(location, salary, title, hours)
jobsearch

  location salary title          hours
1 NY       70000  Office Manager 50
2 Chicago  80000  RA             56
3 Boston   60000  Analyst        65
4 Boston   50000  Office Manager 40
5 NY       45000  Analyst        50

In [9]:
jobsearch[location == "NY"]

  location salary title          hours
1 NY       70000  Office Manager 50
2 NY       45000  Analyst        50

In [10]:
jobsearch[salary > 50000]

  location salary title          hours
1 NY       70000  Office Manager 50
2 Chicago  80000  RA             56
3 Boston   60000  Analyst        65

In [11]:
jobsearch[hours <= 50]

  location salary title          hours
1 NY       70000  Office Manager 50
2 Boston   50000  Office Manager 40
3 NY       45000  Analyst        50

## 1.20 Data.table extra

In [12]:
person = c("Linus", "Snoopy", "Lucy", "Woodstock")
age = c(5, 8, 6, 2)
weight = c(40, 25, 50, 1)
my.data.table = data.table(person, age, weight)
my.data.table

  person    age weight
1 Linus     5   40
2 Snoopy    8   25
3 Lucy      6   50
4 Woodstock 2    1

In [15]:
age[1:2]
age[c(1,3)]

[1] 5 8

[1] 5 6

In [17]:
my.data.table[1:2]
my.data.table[c(1, 3)]

  person age weight
1 Linus  5   40
2 Snoopy 8   25

  person age weight
1 Linus  5   40
2 Lucy   6   50

In [18]:
# 1행 3열 데이터
my.data.table[1, 3]

  weight
1 40

In [20]:
# 3번째 열 1~3행
my.data.table[1:3, 3]

  weight
1 40
2 25
3 50

In [21]:
my.data.table[ , 2:3]

  age weight
1 5   40
2 8   25
3 6   50
4 2    1

In [22]:
my.data.table[c(1,3), ]
my.data.table[c(2,4)]

  person age weight
1 Linus  5   40
2 Lucy   6   50

  person    age weight
1 Snoopy    8   25
2 Woodstock 2    1

In [23]:
my.data.table[["weight"]]

[1] 40 25 50  1

In [24]:
my.data.table$weight

[1] 40 25 50  1

In [25]:
my.data.table[ , c("person", "weight")]

  person    weight
1 Linus     40
2 Snoopy    25
3 Lucy      50
4 Woodstock  1

In [26]:
my.data.table[ , 2]
my.data.table[ , c(1,2)]
my.data.table[ , 1:2]

  age
1 5
2 8
3 6
4 2

  person    age
1 Linus     5
2 Snoopy    8
3 Lucy      6
4 Woodstock 2

  person    age
1 Linus     5
2 Snoopy    8
3 Lucy      6
4 Woodstock 2

## 1.21 Write data

In [27]:
write.csv(my.data.table, "RBasic1_data1.csv")

In [28]:
write.table(my.data.table, "RBasic1_data1.txt")