In [4]:
datadir = "http://econ.korea.ac.kr/~chirokhan/book/data"

Twoyear = read.csv(file.path(datadir, "twoyear.csv"))
nrow(Twoyear)
names(Twoyear)

[1] 6763

 [1] "female"   "phsrank"  "BA"       "AA"       "black"    "hispanic"
 [7] "id"       "exper"    "jc"       "univ"     "lwage"    "stotal"
[13] "smcity"   "medcity"  "submed"   "lgcity"   "sublg"    "vlgcity"
[19] "subvlg"   "ne"       "nc"       "south"    "totcoll"

In [6]:
ols2 = lm(lwage~jc+univ+exper,data = Twoyear)
summary(ols2)

#대학을합친게 된다 (I(jc+univ))
ols3 = lm(lwage~I(jc+univ)+univ+exper,data=Twoyear)
summary(ols3)

Call:
lm(formula = lwage ~ jc + univ + exper, data = Twoyear)

Residuals:
     Min       1Q   Median       3Q      Max
-2.10362 -0.28132  0.00551  0.28518  1.78167

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 1.4723256  0.0210602  69.910   <2e-16 ***
jc          0.0666967  0.0068288   9.767   <2e-16 ***
univ        0.0768763  0.0023087  33.298   <2e-16 ***
exper       0.0049442  0.0001575  31.397   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4301 on 6759 degrees of freedom
Multiple R-squared:  0.2224,	Adjusted R-squared:  0.2221
F-statistic: 644.5 on 3 and 6759 DF,  p-value: < 2.2e-16

Call:
lm(formula = lwage ~ I(jc + univ) + exper, data = Twoyear)

Residuals:
     Min       1Q   Median       3Q      Max
-2.09708 -0.28069  0.00532  0.28324  1.78332

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  1.4719701  0.0210606   69.89   <2e-16 ***
I(jc + univ) 0.0761563  0.0022562   33.75   <2e-16 ***
exper        0.0049323  0.0001573   31.36   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4302 on 6760 degrees of freedom
Multiple R-squared:  0.2222,	Adjusted R-squared:  0.222
F-statistic: 965.6 on 2 and 6760 DF,  p-value: < 2.2e-16

In [9]:
# unrestricted model
model1 = lm(lwage~jc+univ+exper,data=Twoyear)
uhat1 = resid(model1)

#restricted model
model2 = lm(lwage~I(jc+univ) +exper, data=Twoyear)
uhat2 = resid(model2)

summary(model1)
summary(model2)

Call:
lm(formula = lwage ~ jc + univ + exper, data = Twoyear)

Residuals:
     Min       1Q   Median       3Q      Max
-2.10362 -0.28132  0.00551  0.28518  1.78167

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 1.4723256  0.0210602  69.910   <2e-16 ***
jc          0.0666967  0.0068288   9.767   <2e-16 ***
univ        0.0768763  0.0023087  33.298   <2e-16 ***
exper       0.0049442  0.0001575  31.397   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4301 on 6759 degrees of freedom
Multiple R-squared:  0.2224,	Adjusted R-squared:  0.2221
F-statistic: 644.5 on 3 and 6759 DF,  p-value: < 2.2e-16

Call:
lm(formula = lwage ~ I(jc + univ) + exper, data = Twoyear)

Residuals:
     Min       1Q   Median       3Q      Max
-2.09708 -0.28069  0.00532  0.28324  1.78332

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  1.4719701  0.0210606   69.89   <2e-16 ***
I(jc + univ) 0.0761563  0.0022562   33.75   <2e-16 ***
exper        0.0049323  0.0001573   31.36   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4302 on 6760 degrees of freedom
Multiple R-squared:  0.2222,	Adjusted R-squared:  0.222
F-statistic: 965.6 on 2 and 6760 DF,  p-value: < 2.2e-16

In [10]:
ssr1 = sum(uhat1^2)
ssr2 = sum(uhat2^2)
ssr1
ssr2

[1] 1250.543

[1] 1250.942

In [12]:
n = nrow(Twoyear)
Fstat = ((ssr2-ssr1)/1)/(ssr1/(n-4))
Fstat

[1] 2.154015

In [13]:
pval = 1 - pf(Fstat, 1, n-4)
pval

[1] 0.1422441

In [14]:
curve(df(x,df1=,df2=n-4),0,12)

ERROR: Error in df(x, df1 = , df2 = n - 4): 기본값이 없는 인수 "df1"가 누락되어 있습니다

In [17]:
anova(model2, model1)

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 6760   1250.942 NA        NA       NA        NA
2 6759   1250.543  1 0.3985338 2.154015 0.1422441

In [19]:
install.packages("car")
library("car")

also installing the dependency 'lme4'

package 'lme4' successfully unpacked and MD5 sums checked
package 'car' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\roh_kondae\AppData\Local\Temp\RtmpI58rN4\downloaded_packages

Loading required package: carData

In [20]:
lht(model1, "jc=univ")

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 6760   1250.942 NA        NA       NA        NA
2 6759   1250.543  1 0.3985338 2.154015 0.1422441